@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');


.container{
    border: 2px solid black;
    /* background-color: rgb(21, 179, 74); */
    
}

.head1{
    grid-area: head1;
    display: flex;
    margin: 10px;
}
.input-group{
    width: 25%;
}

.Box{
    margin: auto;
    width: 700px;
}

.modal-content{
    /* background-color:rgb(0, 0, 0); */
    width: 750px;
    /* color: white; */
}

.btn-close{
    background-color: #0d6efd;;
}

.Calc-content{
    font-family: 'Ropa Sans', sans-serif;
}

th,tr{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid black;
    color: black;
}

.color1{
    width: 550px;
    background-color:lightblue;
}
.color2{
    width: 200px;
    background-color: lightgrey;
}

.eco-info{
    background-color: lightblue;
    color: black;
    margin-top: 25px;
    
}

.color3{
    background-color: rgb(60, 151, 75);
    width: 500px;
    padding: 10px;
    color: white;
}
.color4{
    background-color: rgb(60, 151, 75);
    width: 400px;
    border-left: 1px solid black;
    padding: 10px;
    color: white;
    
}


